body {

    .img1 {
        margin-left: px;
        margin-right: px;
        padding: px;
        margin-top: %;
        margin: -px;
        width: %;
        margin-bottom: -319px;
        padding-bottom: px;
        padding-left: 330px;
        padding-right: 50px;
        padding-top: px;
    }

    .img2 {
        margin-left: %;
        margin-right: %;
        padding: px;
        width: px;
        margin-top: px;
        width: px;
        height: px;
        margin-bottom: px;
        padding-bottom: px;
        padding-left: 640px;
        padding-right: 250px;
        padding-top: px;

    }

    .img3 {
        /* margin-left: #%; */
        /* margin-right: #%; */
        /* padding: px; */
        height: auto;
        width: 100%;
        /* margin-top: px; */
        /* margin-bottom: px; */
        /* max-width: %;
        padding-bottom: px;
        padding-left: px;
        padding-right: px;
        padding-top: px; */


    }






}